{
  "env": {
    "es6": true,
    "node": true,
    "jasmine": true
  },

  "ecmaFeatures": {
    "modules": true
  },

  "parser": "babel-eslint",

  "plugins": [
    "react"
  ],

  "rules": {
    "camelcase": 0,
    "curly": 0,
    "eol-last": 0,
    "jsx-quotes": 2,
    "no-undef": 0,
    "no-path-concat": 0,
    "no-shadow": 0,
    "no-underscore-dangle": 0,
    "no-unused-expressions": 0,
    "quotes": [2, "single"],
    "react/jsx-uses-vars": 2,
    "react/jsx-no-undef": 2,
    "react/no-did-mount-set-state": 2,
    "react/no-did-update-set-state": 2,
    "react/prop-types": [2, {ignore: ['children', 'className', 'id', 'style']}],
    "react/self-closing-comp": 2,
    "react/wrap-multilines": 2,
    "strict": 0
  }
}